body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

.info {
  padding: 6px 18px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  max-width: 450px;
}

h5 {
  margin-top: 0.5rem;
}

#map {
  z-index: 1
}

#city {
  position: absolute;
  top: 10px;
  z-index: 5;
  width: 170px;
  height: auto;
  background: rgb(255, 255, 255, 0.8);
  padding: 10px;
  margin-top: 25px;
  margin-left: 70px;
  font-family: roboto;
  font-size: 13px;
  border-radius: 5px;
}